$ffM: "Montserrat", sans-serif;
$ffL: "Lato", sans-serif;
$color: #fff;
$akcentColor:  #8D81AC;
$hoverColorMenu: #8D81AC;
$breakpointPhone: 320px;
$breakpointTablet: 481px;
$breakpointLaptop: 993px;
$breakpointDesktop: 1200px; 
$phone: phone;
$tablet: tablet;
$laptop: laptop;
$desktop: desktop;
/* $hover-color: #57A4A4;
$postHeaderColor: #4E4E4E;
$postDetailedColor: #7C7C7C;
$postTextColor: #5C5C5C;
*/
